/*============================ 
Basic Styles 
============================*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 100ms ease;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

/* global style */
.btn {
  background: var(--button-color);
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: large;
  color: white;
}

.btn:hover {
  background: var(--button-hover-color);
}

.container {
  padding: 0 8%;
  margin: auto;
  overflow: hidden;
}

.container .heading h2 {
  font-size: 40px;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.container .heading p {
  font-size: 18px;
  color: var(--secondary-text-color);
}

/* Light Theme */
:root {
  --primary-bg: #fff;
  --secondary-bg: #e9ecef;

  --hero-text-color: #000;
  --primary-text-color: #000;
  --secondary-text-color: #495057;
  --extra-bg: var(--secondary-bg);


  --button-color: #007bff;
  --button-hover-color: #0056b3;

  --border-color: var(--button-color);

  --box-shadow-offset-x: 2px;
  --box-shadow-offset-y: 2px;
  --box-shadow-blur: 4px;
  --box-shadow-spread: 0px;
  --box-shadow-color: rgba(0, 0, 0, 0.2);

  --transition: 200ms ease;
}

/* Dark Theme */
body.dark-theme {
  --primary-bg: #131416;

  --hero-text-color: #fff;
  --primary-text-color: #fff;
  --secondary-text-color: gray;
  --extra-bg: #343a40;

  --button-color: #0062cc;
  --button-hover-color: #0056b3;

  /* --border-color: #212529; */
  --border-color: var(--button-color);

  --box-shadow-offset-x: 2px;
  --box-shadow-offset-y: 2px;
  --box-shadow-blur: 4px;
  --box-shadow-spread: 0px;
  --box-shadow-color: rgba(0, 0, 0, 0.8);
}

/* Apply theme variables */
body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--primary-bg);
}

/* ============================ 
Header 
============================ */
header {
  background: var(--primary-bg);
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 8%;
  align-items: center;
  transition: top 0.3s;
  backdrop-filter: blur(4px);
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* nav logo */
.logo img {
  background: white;
  width: 4rem;
  border-radius: 50%;
}

/* Nav styling */
nav {
  position: relative;
  transition: max-height 0.5s ease-out, transform 0.5s ease-out;
}

.nav-links {
  transform-origin: top;
  transition: max-height 0.5s ease-out, transform 0.5s ease-out;
  padding: 0;
  list-style: none;
  margin: 0;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-links li {
  padding: 15px;
  text-align: center;
}

.nav-links li a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 5px;
}

.nav-links li a:hover {
  color: #007bff;
}

.header-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .active,
header a:hover {
  border-bottom: 1px solid var(--button-color);
}

/* Navigation Links */
/* nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

nav ul li a {
  color: red;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
}

nav ul li:hover a::after {
  width: 100%;
  transition: var(--transition);
}

nav ul li a::after {
  content: '';
  width: 50%;
  height: 1px;
  padding: 1px;
  background: var(--button-color);
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  text-decoration: none;
  font-size: 1rem;
}

nav ul li a:hover {
  color: var(--button-color);
} */

/* Nav button Icon */
.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger i {
  /* font-size: 2rem; */
  color: var(--text-color);
  background: var(--button-color);
  border-radius: 0.2rem;
}

.hamburger i:hover {
  background: (var(--button-hover-color));
}

.nav-btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* theme btn style */
.hamburger,
#theme-toggle {
  background: var(--button-color);
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}


/* Navigation for large screens (desktop) */
nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  position: relative;
}

nav ul li:hover a::after {
  width: 100%;
  transition: 0.3s;
}

nav ul li a::after {
  content: '';
  width: 50%;
  height: 1px;
  padding: 1px;
  background: var(--button-color);
  position: absolute;
  left: 0;
  bottom: 0;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--button-color);
}

.hamburger {
  /* visibility: hidden; */
}

/* ============================
Hero Section
============================ */
.hero {
  background-color: #ccc;
  background-image: url('../assets/images/light_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--border-color);
}

/* Dark theme background image */
body.dark-theme .hero {
  background-image: url('/assets/images/bg1.png');
}

/* hero text */
.hero-text {
  line-height: 0.8;
  text-align: justify;
}

.hero h1 {
  color: var(--hero-text-color);
  margin: 0;
  font-size: 5rem;
  font-family: sans-serif;
  font-family: Arial, sans-serif;
}

.hero h1:nth-child(1) {
  text-align: left;
}

.hero h1:nth-child(3) {
  text-align: left;
}

.hero h1:nth-child(5) {
  text-align: right;
}

.hero .tagline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.hero p {
  font-size: 24px;
  text-align: center;
  color: var(--primary-text-color);
  line-height: normal;
}

.hero .tagline .btn {
  padding: 10px 20px;
  background: var(--button-color);
  color: #fff;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

/* ============================ 
About Section 
============================ */
#about {
  padding: 5rem 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-bg);
}

.about {
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 2rem 0;
}

.highlights {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1rem;
}

.highlight {
  border-radius: 0.5rem;
  padding: 1rem;
  background: transparent;
  transition: background all 3s ease;
  /* box-shadow: 0 0 0.3rem rgb(91, 214, 255); */
  border: 2px solid var(--border-color);
}

.highlight:hover {
  transform: scale(1.07);
  border: 2px solid var(--border-color);
}

.highlight h3 {
  color: var(--primary-text-color);
  margin-bottom: 0.5rem;
}

.highlight p {
  color: var(--secondary-text-color);
  /* color: darkgray; */
}

/* ========================
Achievements Section styles
====================== */
#achievements {
  padding: 5rem 0;
  height: auto;
  background: var(--primary-bg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.achievements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

#achievements .highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#achievements .highlight {
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  box-shadow: none;
  transition: background all 3s ease;
  border: 2px solid var(--border-color);
}

#achievements .highlight:hover {
  transform: scale(1.07);
  border: 2px solid var(--border-color);
}

#achievements .highlight .icon {
  margin-bottom: 1rem;
}

#achievements .highlight h3 {
  font-size: 2.5rem;
}

#achievements .highlight p {
  font-size: large;
}

.achievement-details {
  color: gray;
  font-size: large;
}

#achievements .highlight i {
  font-size: 3rem;
  padding: 1rem;
  border-radius: 50%;
  color: white;
  border: 2px solid var(--border-color);
  background-color: var(--button-color);
}

/* ============================ 
Team Section 
============================ */
#team {
  padding: 30px 0;
  height: auto;
  background: var(--primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  justify-content: left;
  gap: 2rem;
  width: 100%;
  padding: 1rem 0;
}

.team-member {
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  transition: background all 3s ease;
  border: 2px solid var(--border-color);
  background: var(--primary-bg);
  backdrop-filter: blur(50px);
  position: relative;
  overflow: hidden;
}

.team-member:hover {
  transform: scale(1.05);
  border: 2px solid var(--border-color);
}

.team-member img {
  width: 100%;
  /* width: 85%; */
  border-radius: 50%;
  border-radius: 2%;
  background: var(--extra-bg);
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 18px;
  color: var(--primary-text-color);
}

.team-member p {
  font-size: 16px;
  color: var(--secondary-text-color);
}

.team-member {
  width: 100%;
}

.team-member:hover {
  background: transparent;
}

.team-member-image img {
  filter: saturate(0);
}

.team-member-image:hover img {
  filter: saturate(1);
}

.team-member-info {
  text-align: center;
  margin-top: 1.1rem;
}

.team-member-info p {
  color: var(--color-light);
}

/* team social profile */
.team-member-socials {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 0.1rem;
  box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.3);
  background: var(--primary-bg);
  backdrop-filter: blur(30px);
}


.team-member-socials {
  border: 2px solid var(--border-color);
}

.team-member-socials a {
  color: white;
  color: var(--primary-bg);
  padding: 0.1rem 0.5rem;
  font-size: 1.7rem;
}

.team-member-socials i {
  color: var(--button-color);
  color: gray;
  font-size: 20px;
}

.team-member-socials a:hover i,
.team-member-socials a:hover,
.team-member-socials i:hover {
  color: white;
  transform: scale(1);
  background: var(--button-color);
}

/* ============================
Footer Section 
============================ */
footer {
  background: var(--extra-bg);
  width: 100%;
}

/* footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
} */

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 2rem;
}

.content .top .logo-details {
  color: var(--primary-text-color);
  font-size: 30px;
}

.content .top .media-icons {
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: var(--primary-text-color);
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
  color: #4267B2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
  color: #1DA1F2;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
  color: #E1306C;
  background: #fff;
}

.top .media-icons a:nth-child(4) {
  background: red;
}

.top .media-icons a:nth-child(4):hover {
  color: red;
  background: #fff;
}

.top .media-icons a:nth-child(5) {
  background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
  color: #FF0000;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: var(--border-color);
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li p,
.content .link-boxes .box li a {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.content .link-boxes .input-box {
  margin-right: 55px;
}

.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid var(--border-color);
  background: var(--primary-bg);
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
  color: #AFAFB6;
  color: var(--secondary-text-color);
  font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
  background: var(--button-color);
  color: var(--primary-text-color);
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
  opacity: 1;
}

footer .bottom-details {
  width: 100%;
  background: var(--primary-bg);
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary-text-color);
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

#logo-text {
  display: none;
  visibility: hidden;
  color: var(--primary-text-color);
}

/* =========================
MEDIA
============================ */
/* Responsive Design: Hide Nav Links on Small Screens [Tablet] */
@media (max-width: 768px) {

  /* Header styling */
  #header {
    position: relative;
    width: 100%;
    color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .logo-img {
    display: none;
    visibility: hidden;
  }

  #logo-text {
    display: block;
    visibility: visible;
  }


  .mini-nav-links .nav-logo {
    display: flex;
    flex-direction: row;
  }

  .nav-btn {
    display: flex;
    flex-direction: row;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  nav ul.nav-open {
    display: flex;
    /* max-height: 300px; */
    transition: max-height 0.3s ease-in-out;
    padding-bottom: 1rem;
  }

  #theme-toggle,
  .hamburger {
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    /* padding: 2%; */
    background: var(--button-color);
    padding: 2px;
    width: 3rem;
    border-radius: 5px;
  }


  .nav-links {
    background: var(--primary-bg);
    position: fixed;
    top: 5rem;
    gap: 0.2rem;
    /* gap: 0rem; */
    height: fit-content;
    align-items: first baseline;
    padding: 0 1rem;
  }


  .nav-links li {
    text-align: left;
    padding: 10px;
    /* border-bottom: 1px solid var(--border-color); */
    border-left: 1px solid var(--border-color);
    width: 100%;
  }

  .nav-links li:hover {
    background: var(--extra-bg);
  }

}

/*============================ Media Queries for Responsiveness =*===========================/

/* For tablets and smaller devices */
@media (max-width: 768px) {
  nav ul {
    /* flex-direction: column; */
    /* text-align: center; */
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: 16px;
  }

  .hero .tagline {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .hero .tagline .btn {
    font-size: 16px;
  }

  .tagline p {
    text-align: left;
  }

  /* About section [media - tablet]*/
  #about {
    height: 100%;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .highlights {
    flex-wrap: wrap;
  }

  /* Achievements section [media - tablet] */
  #achievements {
    height: 100%;
  }

  .achievements {
    grid-template-columns: 1fr;
  }

  /* Team section [media - tablet] */
  .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .project-item,
  .event-item {
    width: 45%;
  }

  .team-member {
    width: 100%;
  }

  .cta-button {
    padding: 8px 16px;
  }

  footer {
    position: static;
  }

  .content .top .logo-details {
    font-size: 26px;
  }

  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
    display: grid;
    flex-direction: column;
    width: 100%;
  }


  footer .content .link-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  footer .content .link-boxes .input-box {
    width: 80%;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  #logo-text {
    font-size: x-large;
  }

  #about,
  #achievements,
  #achievements.achievements-more {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  #achievements.achievements-more {
    padding-top: 0;
    padding-bottom: 5rem;
  }

  section#team {
    padding-top: 3rem;
  }

  .about .highlights {
    padding: 0;
  }

  .introduction h3 {
    font-size: 24px;
  }

  .highlight:hover {
    transform: none;
  }

  .highlights {
    grid-template-columns: repeat(1, 1fr);

  }

  .highlight h4 {
    font-size: 20px;
  }

  #achievements .highlights {
    display: grid;
    padding: 0;
  }

  #achievements .highlight {
    gap: 0;
  }

  #achievements .highlights i {
    font-size: 2rem;
  }

  #team {
    padding: 5rem 0;
  }

  .team-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Footer section */
  footer::before {
    top: 0px;
    display: none;
  }

  footer .content {
    justify-content: center;
    align-items: center;
  }

  footer .content .top {
    flex-direction: column;
  }

  footer .content .link-boxes .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  footer .content .link-boxes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  footer .content .link-boxes .input-box {
    width: 80%;
  }

  .bottom_text {
    flex-direction: column;
    gap: 1rem;
  }
}